extends layout

block content
  .row
    .col-lg-12
      h1 List entity 
        //- small: a.btn.btn-primary.btn-xs(type='button', href='/admin/entity/foo/edit') Edit

      .table-responsive
        table.table.table-bordered.table-striped
          colgroup
            col.col-xs-1
            col.col-xs-7
          thead
            tr
              th Class
              th Description
              th Description
          tbody
            tr
              td active
              td Applies the hover color to a particular row or cell
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm(type='button', href='/admin/object/user/123') Edit
                  a.btn.btn-danger.btn-sm(type='button') Delete
            tr
              td success
              td Indicates a successful or positive action
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm(type='button', href='/admin/object/user/123') Edit
                  a.btn.btn-danger.btn-sm(type='button') Delete
            tr
              td info
              td Indicates a neutral informative change or action
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm(type='button', href='/admin/object/user/123') Edit
                  a.btn.btn-danger.btn-sm(type='button') Delete
            tr
              td warning
              td Indicates a warning that might need attention
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm(type='button', href='/admin/object/user/123') Edit
                  a.btn.btn-danger.btn-sm(type='button') Delete
            tr
              td danger
              td Indicates a dangerous or potentially negative action
              td
                .btn-group.pull-right
                  a.btn.btn-primary.btn-sm(type='button', href='/admin/object/user/123') Edit
                  a.btn.btn-danger.btn-sm(type='button') Delete
      ul.pagination
        li.disabled
          a(href='#') «
        li.active
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') 4
        li
          a(href='#') 5
        li
          a(href='#') »


