br
.row
  .col-lg-12
    form(role='form')
      .form-group
        .input-group
          span.input-group-addon
            - var methods = ['GET', 'POST', 'PUT', 'DELETE']
            select
              each method in methods
                option(value=method, selected=(route.method === method ? 'selected' : undefined))= method
          input.form-control(type='text', value=route.path)
          span.input-group-btn
            button.btn.btn-primary(type='button') Save changes
            a.btn.btn-info Test

.row
  .col-lg-12
    textarea.code-editor.full-height(data-mode='javascript')= source
