br
.row
  .col-lg-12
    form(role='form')
      .form-group
        .input-group
          input.form-control(type='text', value=req.params.filename)
          span.input-group-btn
            button.btn.btn-primary(type='button') Save changes

.row
  .col-lg-12
    textarea.code-editor.full-height(data-mode='html')= source
