br
.row
  .col-lg-12
    form(role='form')
      .form-group
        .input-group
          input.form-control(type='text', value=req.params.filename)
          span.input-group-btn
            button.btn.btn-primary(type='button') Save changes

.row
  .col-lg-12
    textarea.code-editor(data-mode='javascript')= source

script.
  $('.code-editor').each(function() {
    var mode = $(this).attr('data-mode')
    var options = {
      lineNumbers: true,
      mode: mode
    }
    if (mode === 'json') {
      options.mode = 'javascript'
      options.json = true
    }
    CodeMirror.fromTextArea($(this).get(0), options)
  })
